@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.heading{
    padding: 50px 30px 0px 30px;
    text-align: center;
    font-weight: 500;
    color: royalblue;
}

.animate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.btn-1 {
    display: flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
}

.btn-style-1 {
    position: relative;
}

/* Button Hover */
.btn-style-1:hover {
    color: crimson;
}

/* Before effect */
.btn-style-1:hover::before {
    transform: scale(0, 1);
}

.btn-style-1::before {
    width: 100%;
    left: 0;
    border-radius: 5px;
    background-color: crimson;
    z-index: -1;
}

/* After effect */
.btn-style-1:hover::after {
    width: 100%;
    border-color: crimson;
    transition-delay: 0.2s;
}
.btn-style-1::after {
    width: 0;
    left: 50%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: translate(-50%, 0);
    z-index: 1;
}

.btn-style-1::before, .btn-style-1::after {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    content: "";
}


/* ----------- Red Button Styling ------------ */

.btn-2 {
    display: flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
}

.btn-style-2 {
    position: relative;
}

/* Button Hover */
.btn-style-2:hover {
    color: green;
}

/* Before effect */
.btn-style-2:hover::before {
    transform: scale(0, 1);
}

.btn-style-2::before {
    width: 100%;
    left: 0;
    border-radius: 5px;
    background-color: green;
    z-index: -1;
}

/* After effect */
.btn-style-2:hover::after {
    width: 100%;
    border-color: green;
    transition-delay: 0.2s;
}
.btn-style-2::after {
    width: 0;
    left: 50%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: translate(-50%, 0);
    z-index: 1;
}

.btn-style-2::before, .btn-style-2::after {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    content: "";
}